@define-color bg    #1a1b26;
@define-color bg-2  #1f202d;
@define-color bg-3  #212331;
@define-color bg-4  #242535;
@define-color bg-5  #272839;
@define-color bg-6  #292b3c;
@define-color bg-7  #2c2d40;
@define-color fg    #DBE2F8;
@define-color fg-2  #c0caf5;
@define-color blk   #32344a;
@define-color red   #f7768e;
@define-color grn   #c3e88d;
@define-color org   #ff966c;
@define-color ylw   #ffc777;
@define-color blu   #82aaff;
@define-color mag   #c099ff;
@define-color cyn   #86e1fc;
@define-color brblk #444b6a;
@define-color white #ffffff;
@define-color outline #353D57;

* {
    font-family: 'JetBrainsMono Nerd Font', monospace;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: transparent;
    color: @fg;
}

window#waybar > box {
    /* margin: 6px 8px 0px 8px; */
    padding: 0px 16px;
    background-color: @bg;
    /* border-radius: 18px; */
}

#workspaces button {
    padding: 0 6px;
    color: @cyn;
    background: transparent;
    border-bottom: 3px solid @bg;
    border-radius: 0px;
}
#workspaces button.active {
    color: @cyn;
    border-bottom: 3px solid @mag;
}
#workspaces button.empty {
    color: @fg;
}
#workspaces button.empty.active {
    border-bottom: 3px solid @mag;
}

#workspaces button.urgent {
    border-bottom: 3px solid @red;
}

#window {
    padding-left: 10px;
}

/* Global to all items */
#clock,
#battery,
#disk,
#network,
#tray,
#pulseaudio,
#idle_inhibitor,
#cpu,
#memory,
#custom-sep {
    color: @fg;
    padding: 2px 10px;
    background-color: @bg-6;
    border-radius: 14px;
    font-size: 14px;
    margin: 4px 4px;
}

#custom-sep {
    color: @brblk;
    background-color: @bg;
    padding: 0px 6px;
}

/* Network items */
#network.ethernet {
    padding-left: 11px;
    padding-right: 15px;
}

#network.disconnected {
    color: @red;
}

#tray {
    background-color: #2980b9;
}
