/* @define-color bg    #191B29; */
@define-color bg    #222436;
@define-color fg    #DBE2F8;
@define-color blk   #32344a;
@define-color red   #f7768e;
@define-color grn   #c3e88d;
@define-color org   #ff966c;
@define-color ylw   #ffc777;
@define-color blu   #82aaff;
@define-color mag   #c099ff;
@define-color cyn   #86e1fc;
@define-color brblk #444b6a;
@define-color white #ffffff;

* {
    font-family: 'JetBrainsMono Nerd Font', monospace;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: @bg;
    color: @fg;
}

window#waybar > box {
    padding-left: 16px;
    padding-right: 16px;
}

#workspaces button {
    padding: 0 6px;
    color: @cyn;
    background: transparent;
    border-bottom: 3px solid @bg;
    border-radius: 0px;
}
#workspaces button.active {
    color: @cyn;
    border-bottom: 3px solid @mag;
}
#workspaces button.empty {
    color: @fg;
}
#workspaces button.empty.active {
    border-bottom: 3px solid @mag;
}

#workspaces button.urgent {
    border-bottom: 3px solid @red;
}

#tags button {
    padding: 0 6px;
    color: @fg;
    background: transparent;
    border-bottom: 3px solid @bg;
    border-radius: 0px;
}
#tags button.focused {
    color: @fg;
    border-bottom: 3px solid @mag;
}
#tags button.occupied {
    color: @cyn;
}
#tags button.urgent {
    border-bottom: 3px solid @red;
}

button:hover {
    background: inherit;
    box-shadow: none;
}

#window {
    padding-left: 6px;
}

#clock,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#tray,
#pulseaudio,
#idle_inhibitor {
    padding: 0 6px;
    color: @fg;
}

#custom-sep {
    color: @brblk;
}

#network.ethernet {
    padding-left: 6px;
    padding-right: 9px;
}

#network.disconnected {
    color: @red;
}

#custom-power {
    color: @red;
    font-size: 15px;
}

#tray {
    background-color: #2980b9;
}
